* {
    box-sizing: border-box;
    color: lightgrey;
}

body {
    background-color: rgb(26, 26, 26);
}

#stations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.station {
    display: flex;
    flex-direction: row; 
    justify-content: flex-end;
    align-items: center;
}

button {
    margin-right: 1em;
    font-size: 1.5em;
    color: rgb(26, 26, 26);
    border-radius: 30px;
    border: none;
    height: 1.5em;
    width: 1.5em;
    vertical-align: middle;
};